
.text {
  &-p {

    @apply p-0 w-full;
    padding-top: var(--size-p-diff);
    letter-spacing: var(--spacing);
    text-align: var(--align);

    &:first-child{
      padding-top: 0px !important;
    }
    &:first-of-type{
      padding-top: 0px !important;
    }

    &:last-child{
      padding-bottom: 0px !important;
    }
  }
  width: 100%;
}
